<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8" />
	<title>Your Bank</title>
	<link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="../assets/css/style.css" />
</head>

<body>
	
	<header>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">Your bank</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
					aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="#">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/bank/operations}">Operation</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/bank/comptes}">Comptes</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/bank/clients}">Client</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	
	
	<section layout:fragment="content">
		
	</section>
	
	
	<footer>
		<div class="navbar fixed-bottom">
			<small>@L'adresse de votre compte</small>
		</div>
	</footer>
	
	

</body>

</html>